.container{
    background-color: rgb(151, 137, 189);
    width: fit-content;
    padding: 1em;
    border: rgb(45, 26, 114) solid;
    border-radius: 10px;
    font-family:monospace;
    margin: 20px;
    box-shadow: 29px 18px 49px 0px rgba(0,0,0,0.88);
    display: flex;
    flex-direction: column;

}  

.closeButton {
    background-color: rgb(95, 57, 235);
    border: 3px solid;
    border-color: rgb(33, 24, 165);
    border-radius: 10px;
    width: 30px;
    height: 25px;
    float: left;
    font-family: 'Lucida Sans';
    color: rgb(209, 223, 184);
}

.closeButton:hover{
    box-shadow: 10px 10px 5px 0px rgba(47, 179, 30, 0.75);
}