.input{
    background-color: rgb(190, 231, 231);
    border-radius: 1px;
}
.input:hover {
    background-color: rgb(248, 196, 250); 
}

.btn2{
    background-color: rgb(29, 175, 114);
    -webkit-text-stroke: 1px rgb(4, 53, 68);
    border-radius: 5px;
    border: 2px solid rgba(5, 0, 14, 0.664);
    font-size: medium;
    margin-left: 10px;
}
.btn2:hover {
    background-color: rgb(248, 196, 250); 
}